/*
** Media queries
*/

@media only screen and (min-width: 910px) {
	body {
		max-width: 910px;
	}
}

/*
** Tag selectors
*/

a:link, a:visited {
	color: yellow;
}

a:hover, a:active {
	color: chartreuse;
}

body {
	margin: auto;
	background-color: indigo;
	color: white;
}

caption {
	font-size: 1.5em;
	font-variant: small-caps;
}

table {
	text-align: center;
}

td, th {
	padding-left: 0.5em;
	padding-right: 0.5em;
}

td:nth-child(2), th:nth-child(2) {
	text-align: left;
}

th {
	font-variant: small-caps;
}

/*
** Class selectors
*/

.point_value {
	font-size: 2em;
	min-width: 0em;
}

.tooltip {
	color: yellow;
	position: relative;
	display: inline-block;
	border-bottom: 1px dotted yellow;
}

.tooltip > .tooltip_text {
	font-variant: normal;
	visibility: hidden;
	background-color: darkmagenta;
	padding: 0.5em;
	border-radius: 0.5em;
	text-align: center;
	position: absolute;
	z-index: 999;
	min-width: 7em;
	color: chartreuse;
}

.tooltip:hover > .tooltip_text {
	visibility: visible;
}

/*
** ID selectors
*/

#click {
	margin: 1em;
	border-radius: 50%;
	padding-top: 1.8em;
	padding-bottom: 1.8em;
	font-variant: small-caps;
	background-color: pink;
	color: forestgreen;
	font-size: 1.5em;
	font-weight: bold;
}

#flex-container {
	display: none;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-evenly;
}

#game {
	min-width: 300px;
	text-align: center;
	font-size: 1.3em;
	font-variant: small-caps;
	overflow-x: visible;
	margin-top: 2em;
}

#leaderboard {
	max-height: 20em;
	overflow-y: auto;
	margin-top: 2em;
	min-width: 300px;
	overflow-x: auto;
}

#logout {
	display: none;
	position: relative;
	margin: 0.5em;
	right: 0em;
	text-align: right;
}

#root {
	margin-left: 1em;
}

#username {
	font-weight: bold;
}